<ion-header>
  <ion-toolbar>
    <ion-title>connect-gadget</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-segment scrollable>
  <ion-segment-button >
    <ion-icon name="laptop"></ion-icon>
    <ion-label>ordinateur</ion-label>
  </ion-segment-button>

  <ion-segment-button >
    <ion-icon name="phone-portrait"></ion-icon>
  <ion-label>téléphone/tablette</ion-label>
</ion-segment-button>

<ion-segment-button >
  <ion-icon name="watch"></ion-icon>
<ion-label>montre connectée</ion-label>
</ion-segment-button>

</ion-segment>
 
</ion-content>
