<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>Vigilance Mode</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

<!-- Toggles in a List -->
<ion-list>
  <ion-item>
    <ion-label>mode vigilance</ion-label>
    <ion-icon  slot="start" name="eye"></ion-icon>
    <ion-toggle slot="end" value="pepperoni" color="success"></ion-toggle>
  </ion-item>
  <div class="detail">une fois ce mode activé, l'alarme sera déclenchée automatiquement dès qu'un cas suspect sera detecté. aucune alarme ne sera déclenché si l'option n'est pas selectionnée</div>
</ion-list>
</ion-content>
